<div class="band_banner">
  <div class="band-banner-content">
    <h1>Aplicações para <%= @gig.title %></h1>
    <h3 class="suggestions-match">
      Insatisfeito com as aplições? <%= link_to 'Clique aqui e explore!', suggestions_url(tags: @gig.tags.map { |tag| tag.id} ) %>
    </h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @applies.each do |apply| %>

    <div class="col-xs-10 col-lg-6 bands-card">

      <div class="band-index-card-blog" style="background-image: url(<%= apply.band.photo.url %>); background-size: cover; background-position: center;">
        <div class="description">
          <h1><%= apply.band.name[0..14] %></h1>
          <h6 class="band-show-card-price-title">R$<%= apply.band.minimum_price %>,00 por 1 hora</h6>
          <%= link_to 'Ver Banda', apply.band, class: 'bttn-pink' %>
        </div>
        <div class="tags-card">
          <ul>
            <% @tags.each do |tag| %>
              <% if apply.band.tags.include?(tag) %>
                <li><i class="fas fa-check card-tag tag-ok"></i><%= tag.genre %></li>
              <% else %>
                <li><i class="fas fa-times card-tag tag-no"></i><%= tag.genre %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
