<div class="col-xs-12 col-sm-3 col-no-padding">
  <div class="form-post plain">
    <%= simple_form_for(@element, url: :select_band_via_chat, method: :patch) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12">

        <div class="form-group no-margin-bottom-form">
          <label for="select_gig">Selecione Gig para banda</label>
          <input type="hidden" name="gig" value="">
          <select class="form-control" name="gig" id="">
          <% @gigs.each do |gig| %>
            <option value="<%= gig.id %>" label="<%= gig.title %>"></option>
          <% end %>
          </select>
        </div>
      </div>
    <div class="form-group">
      <%= hidden_field_tag(:band_id, @element.id) %>
    </div>
  </div>
    <%= f.submit 'Escolher', class: "btn btn-primary btn-block btn-select-gig",
                  data: { confirm: 'voce tem certeze?'} %>
    <% end %>
  </div>
</div>
