<div class="form-post plain select-band-form">
  <%= simple_form_for(@element, url: :select_band_via_chat, method: :patch) do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-12">

      <div class="form-group no-margin-bottom-form">
        <input type="hidden" name="gig" value="">
        <select class="form-control" name="gig" id="">
          <option value="" disabled selected>Selecione Gig</option>
        <% @gigs.each do |gig| %>
          <option value="<%= gig.id %>" label="<%= gig.title %>"></option>
        <% end %>
        </select>
      </div>
    </div>
  <div class="form-group">
    <%= hidden_field_tag(:band_id, @element.id) %>
  </div>
</div>
  <%= f.submit 'Contratar', class: "btn btn-primary btn-block message-btn",
                data: { confirm: 'voce tem certeze?'} %>
  <% end %>
</div>
