<div class="col-xs-12 col-sm-4 col-no-padding">
  <div class="form-post plain">
    <h1>Eleger</h1>
    <%= simple_form_for(@element, url: :select_band_via_chat, method: :patch) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12">

        <div class="form-group">
          <label for="select_gig">Atribuir banda ao Gig</label>
          <input type="hidden" name="gig[gig_ids][]" value="">
          <select class="form-control" name="gig[gig_ids][]" id="">
          <% @gigs.each do |gig| %>
              <option value="<%= gig.id %>" label="<%= gig.title %>"></option>
          <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= hidden_field_tag(:band_id, @element.id) %>
    </div>
    <div class="form-group caixa-bttn">
      <%= f.submit 'Enviar', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
