<div class="container distance-from-box">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-no-padding">
      <div class="messages_container">

        <h1 class="title-message">Conversa com <%=link_to @element.name, @element %></h1>

        <ul class="messages-all">
        <% @messages.each do |m| %>

          <%= render 'messages/show', m: m %>

        <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>

<% if @messages.nil? || current_user.band %>

  <div class="form-wrapper">
    <%= render 'messages/form', message: @message %>
  </div>

<% else %>
  <div class="form-wrapper">
    <div class="container">
      <div class="row">
        <%= render 'messages/form_redux', message: @message %>
        <%= render 'messages/select_band', gigs: @gigs %>
      </div>
    </div>
  </div>
<% end %>
