<div class="container">
  <div class="row">

    <h1 class="dashboard-main-title">Bem Vindo! <%= @bar.name %></h1>

    <div class='col-sm-12 col-md-4 dashboard-col'>
      <div class="contact-dashboard dashboard-box">
        <h3>Contatos</h3>

        <% @bands.each do |band| %>

          <%= link_to conversation_url(element_id: band.id), class: 'contact-coversation-link' do %>
            <div class="contact-section-part contact-message">
              <%= image_tag band.photo.url, class: 'contact-photo' %>
              <div class="contact-section-part preview-message-content">
                <h4><%= band.name %></h4>
                <p><%= Message.where(band: band, bar: @bar).last.content %></p>
                <p><%= Message.where(band: band, bar: @bar).last.created_at %></p>
              </div>
            </div>
          <% end %>

        <% end %>

        </div>
      </div>

    <div class="col-sm-12 col-md-8 dashboard-col">
      <div class="dashboard-box">

        <h2 id="month" class="text-center">
          <%= link_to "<", date: @date.prev_month %>
          <%= @date.strftime("%B %Y") %>
          <%= link_to ">", date: @date.next_month %>
        </h2>

        <%= calendar @date do |date| %>
          <% if @gigs[date] %>
            <%= link_to @gigs[date], class: 'gig-today' do %>
              <%= date.day %>
              <i class="fas fa-music"></i>
            <% end %>
          <% else %>
            <%= date.day %>
          <% end %>
        <% end %>
        <%= link_to 'Novo Gig', new_bar_gig_path(@bar) %>
      </div>
    </div>

  </div>
</div>
