<% unless @bar.name && current_user.bar == @bar %>

    <%= render 'form' %>

<% else %>
  <% unless @gig && @gig.band %>
    <%= render 'bars/bar_show' %>
  <% else %>
    <%= render 'gigs/gig_show_page' %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-no-padding">
          <div class="gig-box gig-description gig-dashboard-table-container">
            <h3>Próximos Gigs no <%= @bar.name %></h3>
            <%= render 'bars/bar_gigs' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
