<li class="nav-item">
  <% if user_signed_in? %>
    <% if current_user.band %>

      <% if current_user.band.name %>

        <%= link_to current_user.band, class: "nav-link" do %>

          <%= current_user.band.name %>

        <% end %>

      <% else %>

        <%= link_to "Sua Banda", edit_band_path(current_user.band), class: "nav-link" %>

      <% end %>

    <% elsif current_user.bar %>

      <% if current_user.bar.name %>

        <%= link_to current_user.bar, class: "nav-link" do %>
          <%= current_user.bar.name %>
        <% end %>

      <% else %>

        <%= link_to "Seu Bar", edit_bar_path(current_user.bar), class: "nav-link" %>

      <% end %>

    <% else %>

      <%= link_to 'Bem vindo', new_role_path, class: 'nav-link' %>

    <% end %>

  <% else %>

    <%= link_to "Login", new_user_session_path, class: "nav-link" %>

  <% end %>
</li>


<li class="nav-item" >

  <% if user_signed_in? && current_user.bar || current_user.band%>

    <%= link_to "dashboard", dashboard_path, class: "nav-link" %>

  <% end %>

</li>

<li class="nav-item">

  <% if user_signed_in? %>

    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>

  <% else %>

    <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>

  <% end %>
</li>
