<div class="banner">
  <div class="banner-content">
    <h1>Bem-vindo ao Mr.Gigz</h1>
    <p class="home-banner-h3">Encontre palcos para seu talento !</p>
    <%= link_to ' Ver Gigz', gigs_path, class: 'bttn-dark' %>
  </div>
  <div class="banner-scroll-btn scroll-btn">
    <a href="#" class="scroll-down" address="true"></a>
    <h5>Últimos Gigz</h5>
  </div>
</div>

<!-- Last Gigs -->

<div class="container home-cards-container">
  <div class="bandas-hoje">
    <h4 class="anuncios-recentes"><i class="fas fa-bomb icone-color"></i> Procura-se bandas para HOJE</h4>
    <div class="gigs-box-home">
      <div class="row">
        <% @today_gigs.last(4).each do |gig| %>
        <div class="col-xs-6 col-sm-6 col-lg-3">
          <div class="gig-card-home-effect">
            <div class="gig-card-body-home">
              <div class="gig-card-top-home urgente">
                <%= gig.title %>
              </div>
              <p class="gig-card-genero-home">
                <% gig.gig_tags.each do |tag| %>
                <spam><button type="button" class="btn btn-secondary home-card-gig-bttn"><%= tag.tag.genre %></button></spam>
                <% end %>
              </p>
              <p class="gig-card-localizacao-home">
                <i class="fa fa-map-marker-alt"></i>
                São Paulo
              </p>
              <p class="gig-card-data-home">
                <%= l(gig.date) %>
              </p>
              <p class="gig-card-price-home">
                R$<%= gig.cache %>,00 por 1 hora
              </p>
            </div>
            <div class="home-gig-card-action">
              <button type="button" class="btn btn-primary btn-primary-card" data-toggle="modal" data-target="#modal<%= gig.id %>">
                <%= link_to 'Ver Gig', gig %>
              </button>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <h6 class="ver-mais"><i class="fas fa-plus"></i> Ver mais</h6>
    <hr class="separator-line-home">
  </div>
</div>


<!-- Últimos anúncios -->

<div class="container home-gigs-urgentes">
  <h4 class="anuncios-recentes"><i class="fas fa-fire icone-color"></i> Últimos anúncios</h4>
  <div class="gigs-box-home">
    <div class="row">
      <% @gigs.last(4).each do |gig| %>
      <div class="col-xs-6 col-sm-6 col-lg-3">
        <div class="gig-card-home-effect">
          <div class="gig-card-body-home">
            <div class="gig-card-top-home">
              <%= gig.title %>
            </div>
            <p class="gig-card-genero-home">
              <% gig.gig_tags.each do |tag| %>
              <spam><button type="button" class="btn btn-secondary"><%= tag.tag.genre %></button></spam>
              <% end %>
            </p>
            <p class="gig-card-localizacao-home">
              <i class="fa fa-map-marker-alt"></i>
              São Paulo
            </p>
            <p class="gig-card-data-home">
              <%= l(gig.date) %>
            </p>
            <p class="gig-card-price-home">
              R$<%= gig.cache %>,00 por 1 hora
            </p>
          </div>
          <div class="home-gig-card-action">
          <button type="button" class="btn btn-primary btn-primary-card" data-toggle="modal" data-target="#modal<%= gig.id %>">
            <%= link_to 'Ver Gig', gig %>
          </button>
        </div>
        </div>
      </div>
      <% end %>
    </div>
    <h6 class="ver-mais"><i class="fas fa-plus"></i> Ver mais </h6>
    <hr class="separator-line-home">
  </div>
</div>



<!-- gigs-map -->

<section class="home-gigs-map">
  <div class="banner-content-semana">
      <h1 class="gigs-da-semana">Gigs da semana</h1>
  </div>
  <div class="container map-container">
    <div class="row">
      <div class="col-12">
        <div class="container-homepage-map">
          <div id="map" class="map-fix-size" data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Como funciona? -->

<section class="section-como-funciona">
  <div class="container como-funciona">
    <div class="page-header">
      <h2 id="como-funciona">Como Funciona</h2>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge"><i class="far fa-check-square"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Cadastro simples</h4>
          </div>
          <div class="timeline-body">
            <p>O cadastramento exige no máximo dois minutos do usuário, requisitando informações básicas que asseguram a integridade e confiabilidade das informações contidas na plataforma.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="fas fa-search-plus"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Pesquisa otimizada</h4>
          </div>
          <div class="timeline-body">
            <p>Nosso sistema de busca permite que o usuário encontre o bar ou banda que mais se adequa ao seu perfil, segmentando a pesquisa por gêneros e tags.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge danger"><i class="fas fa-music"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Matching & Contrato</h4>
          </div>
          <div class="timeline-body">
            <p>Assim que o músico ou banda encontra um gig que lhe interesse, basta que o(a) mesmo(a) clique no botão para se candidatar e no mesmo instante o anunciante terá conhecimento dos artistas dispostos a tocar em seu estabelecimento.
              <p>Sem nenhuma interferência ou royalties.</p>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
