<div class="container">
  <div class="row">

    <h1 class="dashboard-box dashboard-main-title">Bem Vindo! <%= @band.name %></h1>

    <div class='col-sm-12 col-md-5 dashboard-col'>

      <div class="col-sm-12 dashboard-no-padding-col">
        <div class="contact-dashboard dashboard-box">
          <h2>Contatos</h2>

          <% @bars.each do |bar| %>

            <%= link_to conversation_url(element_id: bar.id), class: 'contact-coversation-link' do %>
            <div class="contact-section-part contact-message">
              <% if bar.photo.url %>
                <%= image_tag bar.photo.url, class: 'contact-photo' %>
              <% end %>
              <div class="contact-section-part preview-message-content">
                <h4><%= bar.name %></h4>
                <div class="hide-on-mobile">
                  <p><%= Message.where(bar: bar, band: @band).last.content[0..30] %></p>
                  <p class="message-date-preview"><%= l Message.where(bar: bar, band: @band).last.created_at, format: :long %></p>
                </div>
              </div>
            </div>
            <% end %>

          <% end %>

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-7 dashboard-col">
        <div class="dashboard-box dashboard-calendar">
          <h2 id="month" class="text-center">
            <%= link_to "<", date: @date.prev_month %>
            <%= l(@date, format:  '%B %Y') %>
            <%= link_to ">", date: @date.next_month %>
          </h2>

          <%= calendar @date do |date| %>
            <% if @gigs_by_date[date] %>
              <%#= link_to @gigs_by_date[date], class: 'gig-today' do %>
                <%= date.day %>
                <i class="fas fa-music"></i>
              <%# end %>
            <% else %>
              <%= date.day %>
            <% end %>
          <% end %>
        </div>
    </div>


    <div class="col-sm-12 dashboard-col">
      <div class="gigs-dashboard gig-dashboard-table-container">

        <h3>Seus Gigs</h3>

        <table class="dashboard-gig-table">
          <thead>
            <tr>
              <td>Titulo</td>
              <td>Data</td>
              <td>Bar</td>
              <td>Tags</td>
              <td>Cache</td>
              <td></td>
            </tr>
          </thead>

          <tbody>
            <% @gigs.each do |gig| %>
            <tr>
              <td><%= gig.title[0..9] %><%= '(...)' if gig.title.length > 10 %></td>
              <td><%= gig.date %></td>
              <td><%= gig.bar.name %></td>
              <td>
                <div class="btn btn-secondary"><%= gig.tags.first.genre if gig.tags %></div>
              </td>
              <td class="price-table">R$<%= gig.cache %></td>
              <td><%= link_to 'Ver Gig', gig, class: 'btn btn-primary' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>


    <div class="col-sm-12 dashboard-col">
      <div class="gigs-dashboard gig-dashboard-table-container">

        <h3>Suas Aplicacoes</h3>

        <table class="dashboard-gig-table">
          <thead>
            <tr>
              <td>Titulo</td>
              <td>Data</td>
              <td>Bar</td>
              <td>Tags</td>
              <td>Cache</td>
              <td></td>
            </tr>
          </thead>

          <tbody>
            <% if @applies %>
              <% @applies.each do |apply| %>
                <% next unless apply %>
                <tr>
                  <td><%= apply.gig.title[0..9] %><%= '(...)' if apply.gig.title.length > 10 %></td>
                  <td><%= apply.gig.date %></td>
                  <td>
                    <div class="btn btn-secondary"><%= apply.gig.tags.first.genre if apply.gig.tags %></div>
                  </td>
                  <td class="price-table">R$<%= apply.gig.cache %></td>
                  <td><%= apply.gig.active ? 'Ativo' : 'Finalizado' %></td>
                  <td><%= link_to 'Ver Gig', gig_url(apply.gig), class: 'btn btn-primary' %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="5">Voce nao aplicou para nenhum gig, que tal descobrir? </td>
                <td><%= link_to 'Descobrir', gigs_url, class: 'btn btn-primary' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
