<div class = "container" >

  <br>

  <%= form_tag bands_path, method: :get, class: 'form-inline' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-form-inline",
      placeholder: "Find a Band"
    %>
    <%= submit_tag "Buscar!", class: 'btn btn-primary search-btn-inline' %>
  <% end %>

  <br>

  <div class="row">
    <% @bands.each do |band| %>

      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="card">
          <%= image_tag band.photo.url, class: 'card-img-top', size: '250x250' %>
          <div class="card-body">
            <h5 class="card-title"><%= band.name %></h5>
            <p class="card-text">Mínimo: R$<%= band.minimum_price %></p>
            <div class="text-right">
              <%= link_to 'Ver Perfil', band, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





<!-- <%= link_to 'Nova Banda!', new_band_path %> -->
