<div class="band_banner">
  <div class="band-banner-content">
    <h1>PROCURA UMA BANDA !</h1>
      <p>
        <%= form_tag bands_path, method: :get, class: 'form-inline band-banner-form-search', style: "background-color: transparent; color: white;" do %>
      <%= select_tag :tag, options_from_collection_for_select(@tags, 'id', 'genre', params[:tag]), class: 'form-control band-search-path genre-selector', style: "background-color: transparent; color: white; margin-right: 16px;" %>
      <%= submit_tag "Buscar", class: "bttn-dark band-banner-btn-search",  style: "background-color: transparent; color: white;" %>
      <% end %>
    </p>
  </div>
</div>

<div class="bands-container">
  <div class="row">
    <% @bands.each do |band| %>

    <div class="col-xs-10 col-lg-5 bands-card">

      <div class="band-index-card-blog alt">
        <div class="card-photo" style="background-image: url(<%= band.photo.url %>)"></div>
        <div class="description">
          <h1><%= band.name %></h1>
          <p><%= band.description %></p>
          <h6 class="band-show-card-price-title">R$<%= band.minimum_price %>,00 por 1 hora</h6>
          <%= link_to 'Ver Banda', band, class: 'bttn-pink' %>
        </div>
      </div>
  </div>
  <div class="col-xs-1 col-lg-1"></div>

  <%end%>
</div>
</div>
