  <div class="row band-name-div">
    <div class="col-xs-12">
      <h1 class="band-name"><%= @band.name %></h1>
    </div>
  </div>

<div class = "container margin-set">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="outter-card">
        <div class="card">
          <%= image_tag @band.photo.url, class: 'card-img-top';%>
          <div class="card-body-text">
            <h4>A partir de R$ <%= @band.minimum_price %></h4>
            <p class="separator-line"></p>
            <p class="band-description"><%= @band.description %></p></div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-6">
      <div class="band-show-video">
        <iframe width="100%" height="250"src="https://www.youtube.com/embed/Z8uvPLsah0s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

      <div class="band-tag">
        <ul>
          <li>
            <% @band.tags.each do |t| %>
              <%= t.genre %>
            <% end %>
          </li>
        </ul>
      </div>



      <div class="band-show-action">
        <div class="band-show-media">
          <a href="#"><i class="fab fa-instagram fab-show"></i></a>
          <a href="#"><i class="fab fa-facebook fab-show"></i></a>
          <a href="#"><i class="fab fa-twitter fab-show"></i></a>
          <a href="#"><i class="fab fa-youtube fab-show"></i></a>
        </div>
          <% if current_user.bar %>
            <%= link_to 'Mensagem', conversation_url(element_id: @band.id), class: 'btn btn-primary'%>
          <% end %>
      </div>
    </div>
  </div>
</div>
