<div class="container">

  <div class="row">
    <div class="bands-show-image-border col-sm-12 col-md-7">
       <%= image_tag @band.photo.url, class: 'image-band-show';%>
<div class="bands-show-text">
 <h1><%= @band.name %></h1>
      <h3> Preço da banda</h3>
</div>
       <div class="band-show-description">
      <p><%= @band.description %></p>
      </div>
      <div class="bands-show-social-logo">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>

    </div>
    <div class="col-sm-12 col-md-4">
      <div class="bands-show-action row">
        <button type="button" class="bttn btn-primary">Mensagem</button>
        <button type="button" class="bttn btn-warning">Ad Favoritos</button>
      </div>
      <div class="bands-show-video row">
           <h3>Videos</h3>
       <iframe width="100%" height="250"src="https://www.youtube.com/embed/Z8uvPLsah0s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  
    <div class="bands-show-repertories row">
      <div class="col-sm-12">
      <h3>Repertories</h3>
        <ul>
        <li><h5>Nome da musica 1</h5></li>

        <li><%= render 'shared/audioplayer'%></li>

        <li>tags tags tags</li>
      </ul>
    </div>
    </div>
  </div>

  </div>
  

  <div class="row">
    <div class="bands-show-tags col-sm-12 col-md-12">
      <h3>Tags</h3>
    </div>
  </div>

<button type="button" class="bttn btn-danger"><%= link_to 'Edit', edit_band_path(@band) %>
<button type="button" class="bttn btn-info"><%= link_to 'Delete', @band,
method: :delete,
data: { confirm: "Are you sure?" } %></button>

</div>







