<% unless @band.name == nil && current_user.band == @band %>
  <div class="row band-name-div">
    <div class="col-xs-12">
      <h1 class="band-name"><%= @band.name %></h1>
    </div>
  </div>

  <div class = "container margin-set">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="outter-card">
          <div class="card">
            <% if @band.photo.url %>
              <%= image_tag @band.photo.url, class: 'card-img-top';%>
            <% end %>
            <div class="card-body-text">
              <h4>A partir de R$ <%= @band.minimum_price %></h4>
              <p class="separator-line"></p>
              <p class="band-description"><%= @band.description %></p></div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-4">
        <div class="band-show-video">
          <iframe width="100%" height="250"src="https://www.youtube.com/embed/Z8uvPLsah0s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="band-tag">
          <div class="outter-card-tag">
            <ul>
              <li class="list-group">
                <% @band.tags.each do |t| %>
                  <button type="button" class="btn btn-secondary"><%= t.genre %></button>
                <% end %>
              </li>
            </ul>
            <div class="band-show-media">
            <a href="#"><i class="fab fa-instagram fab-show"></i></a>
            <a href="#"><i class="fab fa-facebook fab-show"></i></a>
            <a href="#"><i class="fab fa-twitter fab-show"></i></a>
            <a href="#"><i class="fab fa-youtube fab-show"></i></a>
            </div>
          </div>



        <div class="band-show-action">
            <% if current_user.bar %>
              <%= link_to 'Mensagem', conversation_url(element_id: @band.id), class: 'btn btn-primary'%>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'form' %>
<% end %>
