<div class="container">

  <h1 id="gigs-titulo">Candidate-se</h1>

  <div class="gigs-box">
    <ul class="list-inline">
      <div class="row">
        <% @gigs.each do |gig| %>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <li class="list-inline-item catalog">
            <div class="top">
              <div class="gig-card-top">
                <p class="gig-card-titulo"><%= gig.title %></p>
              </div>
            </div>
            <div class="gig-card-body">
              <p class="gig-card-genero">
                <% gig.gig_tags.each do |tag| %>
                  <spam><%= tag.tag.genre %></spam>
                <% end %>
              </p>
              <p class="gig-card-localizacao">
                <i class="fa fa-map-marker-alt"></i>
                São Paulo
              </p>
              <p class="gig-card-data">
                <%= gig.start_date %>
              </p>
              <p class="gig-card-price">
                R$<%= gig.cache %>,00 por 1 hora
              </p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal<%= gig.id %>">
                Ver Gig
              </button>
              <%= render partial: 'modal', locals: {gig: gig} %>
            </div>
          </li>
        </div>
        <% end %>
      </div>
    </ul>
  </div>
</div>




