<div class="gig_banner">
  <div class="gig-banner-content">
    <h1>CANDIDATE-SE A UM GIG !</h1>
    <p>
      <%= form_tag gigs_path, method: :get, class: 'form-inline gig-banner-form-search ' do %>
      <%= select_tag :tags, options_from_collection_for_select(@tags, 'id', 'genre', params[:tags]), multiple: true,class: 'tags-form form-control gig-search-path genre-selector'%>
      <%= submit_tag "Buscar", class:"bttn-dark gig-banner-btn-search",  style: "background-color: transparent; color: white;" %>
      <% end %>
    </p>
  </div>
</div>

<div class="gigs-container">
  <div class="row">
    <% @gigs.each do |gig| %>
    <div class="col-xs-12 col-sm-12 col-lg-6 col-no-padding">
      <div class="row gigs-card">
        <div class="col-sm-12 ">
          <%= link_to gig do %>
          <div class="row index-gigs-card-highlight">
            <div class="col-xs-6 col-sm-6 col-lg-6 photo-container">
              <% if gig.bar.photo.url %>
              <%= image_tag(gig.bar.photo.url, class: "photo") %>
              <% end %>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 gig-card-details">
              <div class="description">
                <h3 class="index-gig-title gig-text-center"><%= gig.title[0..20] %></h3>
                <h4 class="gig-text-center"><%= gig.bar.name %></h4>

                <h5 class="gig-card-localizacao"><i class="fa fa-map-marker-alt"></i>
                  São Paulo
                </h5>
                <h5 class="gig-card-price">R$<%= gig.cache %>,00 por 1 hora</h5>

              </div>
            </div>
          </div>
          <div class="row index-gig-card-action">
            <div class= "col-xs-9 col-sm-9 col-lg-9">
              <h5>Gênero(s) procurado(s):</h5>
              <% gig.gig_tags.each do |tag| %>
              <spam><button type="button" class="btn btn-secondary"><%= tag.tag.genre %></button></spam>
              <% end %>
            </div>
          </div>
          <div class="button-div-card">
            <button type="button" class="btn btn-primary btn-primary-card gig-index-btn-ver-perfil-margin" data-toggle="modal" data-target="#modal<%= gig.id %>">
              Ver Gig
            </button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <%end%>
  </div>
</div>
