<div class = "container">

  <div class="row">
    <div class="col-sm-12 col-md-12">

      <h1 class="bar-name"><%= @bar.name %></h1>

      <div class="row">

        <div class="col-sm-12 col-md-8 separator-margin">
          <div class= "gig-box gig-image-box">
            <% if @bar.photo.url %>
              <%= image_tag @bar.photo.url, style: 'width: 100%; height: 100%;' %>
            <% end %>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 separator-margin">
          <div class="gig-box gig-infos-box ">
            <div id="map" class="map-gig-show"
              style="width: 100%;
              height: 300px;"
              data-markers="<%= @markers.to_json %>">
            </div>

            <div class="gig-infos">
              <p>
                <i class="fas fa-map-marker-alt"></i>
                <%= @bar.address %>
              </p>
              <p>
                <i class="far fa-calendar-alt"></i>
                <%= @gig.start_date %>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-12 col-md-8">
      <div class="gig-box gig-description">
        <h3>Descrição:</h3>
        <p class="text-description"><%= @gig.description %></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="gig-box gig-apply">
        <h4>Ficou interessado?</h4>
        <button type="button" class="btn btn-primary">Candidatar-se</button>
      </div>
    </div>
  </div>
</div>
