<h1>Gigs#show</h1>
<p>Find me in app/views/gigs/show.html.erb</p>
<%= @gig.start_date %>
<%= @gig.end_date %>
<%= @gig.description %>
<% if current_user.bar %>
  <%= link_to "Editar", edit_bar_gig_url(current_user.bar, @gig)%>
<% end %>
<%= link_to "Deletar", @gig,
                       method: :delete,
                       data: { confirm: "Você tem certeza?" } %>
<% if current_user.band %>
  <% if current_user.band.gigs.include?(@gig) %>
    <%= link_to "Cancelar Inscricao!", gig_apply_url(@gig),
                              method: :delete,
                              data: { confirm: "Cancelar inscricao?"} %>

  <% else %>

    <%= link_to "Inscrever!", gig_applies_url(@gig),
                              method: :post,
                              data: { confirm: "Aplicar para esse Gig?"} %>
  <% end %>
<% end %>
